.u-section-1 {
  min-height: 795px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 398px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 30px 80px;
}

.u-section-1 .u-form-1 {
  height: 313px;
  margin: 0 620px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 398px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 30px 80px;
}

.u-section-1 .u-group-1 {
  width: 429px;
  min-height: 452px;
  box-shadow: 5px 5px 20px 0 rgba(107,71,72,0.3);
  height: auto;
  margin: -169px 137px 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 156px 0 135px;
}

.u-section-1 .u-text-2 {
  margin: 20px 138px 0 117px;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 147px 0 126px;
}

.u-section-1 .u-text-4 {
  margin: 18px 74px 0;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 91px 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 72px 0;
}

.u-section-1 .u-text-7 {
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: 900;
  margin: -283px 761px 0 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 840px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 586px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 328px;
  }

  .u-section-1 .u-form-1 {
    height: 335px;
    margin-right: 490px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 328px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -159px;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: -293px;
    margin-right: 561px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 640px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 432px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 380px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-1 .u-group-1 {
    width: 318px;
    min-height: 399px;
    margin-top: -106px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 391px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 420px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 306px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
    margin-right: 240px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-1 {
    width: 260px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-1 .u-text-7 {
    font-size: 3rem;
    width: auto;
    margin-right: 251px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 280px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 166px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 230px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 81px;
    margin-right: 102px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 63px;
    margin-right: 84px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 72px;
    margin-right: 93px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 37px;
    margin-right: 37px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 51px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-right: 235px;
    font-size: 1.125rem;
  }
}